:root {
    --highlight-color-1: #990000;
    --highlight-color-2: #1d149c;
    --action-color-1: #aa0000;
    --action-color-2: #e8700a;

    --highlight-color-1--text: white;
    --highlight-color-2--text: white;
    --action-color-1--text: white;
    --action-color-2--text: black;

    --header-color: #660000;
    --hamburger-color: #ccc;

    --footer-color: #550000;

    --link-color: #390ac0;
    --link-hover-color: #0a0c4c;
    --bold-link-color: #aa0000;
}