.header {
    background-color: var(--header-color);

    @media only screen and (max-width: 767px) {
        background-color: #c00;
    }

    /* hamburger */
    .rb-hamburger {
        float: right;
        margin-top: 15px;
        margin-right: 15px;

        i {
            color: var(--hamburger-color);
            font-size: 30px;
        }

        @media (max-width: 768px) {
            i {
                color: white;
            }
        }
    }

    /* site title */
    .site_title {
        padding-top: 15px;
        margin-bottom: 60px;

        .logout-link {
            float: right;
            a {
                color: #ccc;
                font-weight: 300;

                &:hover {
                    color: #fff;
                }
            }

            @media only screen and (max-width: 767px) {
                float: none;
            }
        }

        h2.title {
            text-align: left;
            color: #de3232;
            margin-bottom: 5px;

            .balloon {
                color: #dadada;
                font-weight: 200;
            }

            @media only screen and (max-width: 767px) {
                color: white;
                font-weight: 300;
                .balloon {
                    color: white;
                    font-weight: 300;
                }
            }
        }

        p.strapline {
            font-size: 1.1rem;
            color: #dadada;
            font-weight: 200;
            line-height: 1;

            @media only screen and (max-width: 767px) {
                color: white;
                font-weight: 300;
            }
        }
    }

    @media only screen and (max-width: 767px) {
        padding-bottom: 10px;

        .site_title {
            margin-bottom: 20px;
            
            h2.title {
                font-size: 1.5rem;
            }
    
            p.strapline {
                font-size: .9rem;
            }
        }

    }
}

/* response area */ 
.response-area {
    padding: 0 50px;

    .response {
        border: 1px solid black;
        border-radius: 20px;

        &.success {
            background-color: lightgreen;
        }
        &.alert {
            background-color: gold;
        }

        p {
            margin-bottom: 0;
            text-align: center;
            color: #222;
            padding: 5px 0;
        }
    }

}